spring:
    liquibase:
        changeLog: "classpath:db/changelog-master.yml"
    jpa:
        database-platform: org.hibernate.dialect.PostgreSQL95Dialect
    datasource:
        url: jdbc:postgresql://localhost:5432/opinion
        driverClassName: org.postgresql.Driver
server:
    servlet:
        contextPath: /api
jwt:
    tokenExpirationTime: 1440 # = 1 day in minutes
    refreshTokenExpTime: 525600 # = 1 year in minutes
    tokenIssuer: http://itsilesia.com